@import "../page-styles.css";

.container {
	min-height:600px;
	display:flex;
	border:2px dashed;
}
.box {
	/*
	flex-grow: 1;
	flex-shrink 1;
	flex-basis: auto;
	*/
	flex:1 1 auto;
	height:150px;
	background:#eee;
	border:2px solid;
}
.box:nth-child(3) {
	flex-grow:4;
	order:2;
	align-self:flex-end;
}
